
*.toc
*.synctex.gz
*.out
*.log
*.blg
*.bbl
*.aux
*.toc
/Report/Report.pdf
/Specification/Specification.pdf
/Report/the_warwick_uni_blue.pdf
.DS_Store
*.fls
*.fdb_latexmk
/References/references.bib.bak
*~
*.sky
obj_sky
*.a
*.map
symbols.c
symbols.h
/Report/the_warwick_uni_blue-eps-converted-to.pdf
*.sublime-project
*.sublime-workspace
*-converted-to.pdf
/Report/Diagrams/*.pdf
.nfs*
*.~vsd
VarDepthClustering
/PredicateLanguage/obj/*
/PredicateLanguage/lib/*
/PredicateLanguage/predlang
/PredicateLanguage/Hoppy/nbproject/private/
/PredicateLanguage/Hoppy/build/
/PredicateLanguage/Hoppy/dist/
/PredicateLanguage/Debug/
/PredicateLanguage/Release/
*.opensdf
*.sdf
*.suo
*.class
*.swp
/Poster/~$Poster.pptx
/PredicateLanguage/Dragon-Tests/Intermediate
/PredicateLanguage/Dragon-Tests/Output
/PredicateLanguage/Hoppy-Tests/Intermediate
/PredicateLanguage/Hoppy-Tests/Output
/PredicateLanguage/predlang
/Tests/Debug
/Tests/Release
*.ihex
*.target
*.z1