
/Report/Report.toc
/Report/Report.synctex.gz
/Report/Report.out
/Report/*.log
/Report/Report.blg
/Report/Report.bbl
/Report/Report.aux
/Report/Report.pdf
/Specification/Specification.pdf
/Report/the_warwick_uni_blue.pdf
.DS_Store
*.fls
*.fdb_latexmk
/References/references.bib.bak
*~
/Specification/Specification.aux
/Specification/Specification.bbl
/Specification/Specification.blg
/Specification/*.log
/Specification/Specification.out
/Specification/Specification.synctex.gz
/Specification/Specification.toc
*.sky
obj_sky
*.a
*.map
symbols.c
symbols.h
/Report/the_warwick_uni_blue-eps-converted-to.pdf
*.aux
*.sublime-project
*.sublime-workspace
*-converted-to.pdf